{{>header}}
<!-- Page content-->
<div class="container">
  <div class="row">
    <!-- Blog entries-->
    <div class="col-lg-8">
      <!-- Featured blog post-->
      <div class="card mb-4">
        {{#product.imageBool}}
        <a href="#!"><img class="card-img-top" src="/images/{{product.id}}.png" alt="..." /></a>
        {{/product.imageBool}}

        {{^product.imageBool}}
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." /></a>
        {{/product.imageBool}}
        <div class="card-body">
          <div class="small text-muted">January 1, 2022</div>
          <h2 class="card-title">{{product.name}}                </h2>
          <p class="card-text">{{product.description}}            </p>
          <p class = "card-text"><ol>{{product.features}}</ol></p>

          <form action="/addProduct/{{product.id}}" method="get" enctype="multipart/form-data">
            <input class="btn btn-primary" href="/shoppingCart" type="submit" value="Añadir al carrito"/>
          </form>

          <H1>
            <form action="/newReview/{{id}}" method="get" enctype="multipart/form-data">
            <p class="clasificacion">
              <input id="radio1" type="radio" name="score" value="5"><!--
            --><label for="radio1">&#9733;</label><!--
            --><input id="radio2" type="radio" name="score" value="4"><!--
            --><label for="radio2">&#9733;</label><!--
            --><input id="radio3" type="radio" name="score" value="3"><!--
            --><label for="radio3">&#9733;</label><!--
            --><input id="radio4" type="radio" name="score" value="2"><!--
            --><label for="radio4">&#9733;</label><!--
            --><input id="radio5" type="radio" name="score" value="1"><!--
            --><label for="radio5">&#9733;</label>
            </p>
              <p class="punt">Valoración media: {{product.score}}</p>
              <p class = "d-flex">Total Reviews: {{reviewsSize}}</p>
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Valorar"/>
          </form></H1>

          {{#userExists}}
          {{#user.user_admin}}
          <form action="/deleteProduct/{{product.id}}" method="post" enctype="multipart/form-data">
            <input class="btn btn-outline-danger mt-auto" type="submit" value="delete"/>
           </form>
          {{/user.user_admin}}
          {{/userExists}}
        </div>
      </div>

    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header"></div>
        <div class="card-body">

        </div>
      </div>
      <!-- Categories widget-->
      <div class="card mb-4">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!"></a></li>
                <li><a href="#!"></a></li>
                <li><a href="#!"></a></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list-unstyled mb-0">
                <li><a href="#!"></a></li>
                <li><a href="#!"></a></li>
                <li><a href="#!"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Side widget-->
      <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">Las tarjetas gráficas se suelen utilizar para procesamiento avanzado de graficos, como videojuegos o minar criptomonedas</div>
      </div>
    </div>
  </div>
</div>
</body>
{{>footer}}
